.game--title,
.game--status {
  text-align: center;
}

.game--board {
  height: 350px;
  width: 350px;
  margin: auto;
}

.btn {
  text-align: center;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  padding-left: 20px;
  padding-top: 25px;
}
.cell:hover {
  background: black;
  opacity: 0.4;
}

.sq0,
.sq1,
.sq6,
.sq7 {
  border-right: 3px solid black;
}

.sq3,
.sq4 {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.sq5 {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.cell {
  width: 100px;
  height: 100px;
  cursor: pointer;

  color: black;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
}
.game--restart {
  font-weight: 200;
  line-height: 1;
  font-size: 1rem;
  color: black;
  background-color: greenyellow;
  border-color: greenyellow;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}
